<div class="imageDiv" *ngIf="isImageEnabled">
    <a [href]="cardData.imageURL">
        <img [src]="cardData.imageURL" [alt]="cardData.header">
    </a>
</div>
<h1 class="hImage" *ngIf="isImageEnabled">{{cardData.header}}</h1>
<h1 class="hText" *ngIf="isTextEnabled">{{cardData.header}}</h1>
<h1 class="hText" *ngIf="isCodeEnabled">{{cardData.header}}</h1>

<p *ngIf="isTextEnabled">{{ cardData.description }}</p>

<pre *ngIf="isCodeEnabled"><code [innerHTML]="myCode"></code></pre>

<div *ngIf="isHoverTarget" class="modifiers">
    <div id="share"></div>
    <div id="modify"></div>
    <div id="delete"></div>
    <div id="archive"></div>
</div>