<div class="wrap">
    <div class="imageDiv" *ngIf="isImageEnabled">
        <a [href]="cardData.imageURL">
            <img [src]="cardData.imageURL" [alt]="cardData.header">
        </a>
    </div>
    <h3 class="hImage" *ngIf="isImageEnabled">{{cardData.header}}</h3>
    <h1 class="hText" *ngIf="isTextEnabled">{{cardData.header}}</h1>
    <h1 class="hText" *ngIf="isCodeEnabled">{{cardData.header}}</h1>

    <p *ngIf="isTextEnabled">{{ cardData.description }}</p>

    <pre *ngIf="isCodeEnabled"><code [innerHTML]="myCode"></code></pre>

    <div class="modifiers">
        <button id="share" *ngIf="isHoverTarget">
            <md-icon>build</md-icon>
        </button>
        <button id="modify" *ngIf="isHoverTarget"></button>
        <button id="archive" *ngIf="isHoverTarget"></button>
        <button id="delete" *ngIf="isHoverTarget"></button>
    </div>
</div>