*{
    font-family: sans-serif;
}
:host {
    width: 240px;
    min-height: 200px;
    background-color: rgb(221, 239, 221);
    border-radius: 2%;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    margin: 2%;
    align-content: center;
    z-index: 100;
    overflow: hidden;

    transition: box-shadow 0.5s;
    -webkit-transition: box-shadow 0.5s;
    -moz-transition: box-shadow 0.5;

    transition: transform 0.25s;
    
}

:host:hover {
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3), -1px -1px 6px 0px rgba(0, 0, 0, 0.25) ;
    z-index: 8;
    transform: translate(0,-2px);
}

:host.focused{
    width: 70%;
    height: 70%;
}


h1 {
    font-size: 3vmin;
    text-align: center;
    box-sizing: border-box;
}

h1.hText {
    margin: 10% 5% 0 5%;
}

.delete {
    color: rgb(183, 207, 231);
    background-color: rgba(0,0,0,0);
    font-size: 15px;
    display: block;
    cursor: pointer;
    z-index: 201;
    position: absolute;
    right: 0;

    margin: 10px;

    transition: color 0.5s;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5;

}

.delete:hover{
    color: rgb(100, 130, 160);
}

p {
    display: inline-block;
    margin: 10% 5%; 
}

.imageDiv {
    z-index: 201;
}

img{
    display: block;
    width: 100%;
    height: 100%;
}

pre {
    align-self: center;
    width: 90%;
    display: inline-block;
    box-sizing: border-box;
    
    margin: 0 5% 10% 5%; 
    padding: 2%;
    white-space: none;

    overflow-x: scroll;
}

.modifiers {
    display: none;
}