:host {
    width: 25%;
    border: 1px solid black;
    border-radius: 2%;
    display: inline-block;
    margin: 2%;
    padding: 2%;
    z-index: 2;
    transition: box-shadow 0.5s;
    -webkit-transition: box-shadow 0.5s;
    -moz-transition: box-shadow 0.5;
}

:host:hover {
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3), -1px -1px 6px 0px rgba(0, 0, 0, 0.25) ;
    z-index: 8;
}

h1 {
    font-size: 3vmin;
    text-align: center;
}

.remove {
    z-index: 10;
    float: right;
    
    display: block;
    
}