:host {
    width: 98%;
    margin: 1%;

       
    display: block;
    box-sizing: border-box;
}

.wrap {
    box-sizing: content-box;
    width: 860px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 275px 275px 275px;
    grid-template-rows: auto auto;
    grid-column-gap: 0;
    grid-row-gap: 1px;

    margin: 0 auto;

    justify-content: center;
    align-content: start;
}


@media only screen and (max-width: 860px){
    .wrap{
        width: 100%;
        grid-template-columns: 275px 275px;
    }
}

@media only screen and (max-width: 575px){
    .wrap{
        grid-template-columns: 275px;
    }
}

@media only screen and (max-width: 450px){
    .wrap{
        width: 95%;
    }
}