:host {
    width: 98%;
    margin: 1%;
    padding: 1%;
       
    display: block;
    box-sizing: border-box;
}

.wrap {
    box-sizing: content-box;
    overflow: hidden;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 1px;
    grid-row-gap: 1px;

    justify-content: center;
    align-content: start;
}


@media only screen and (max-width: 700px){
    .wrap{
        grid-template-columns: 45% 45%;
    }
}

@media only screen and (max-width: 575px){
    .wrap{
        width: 550px ;
    }
}

@media only screen and (max-width: 450px){
    .wrap{
        width: 95%;
    }
}